.borderRadiusTp {
  border: #000 1px solid;
  padding:2px;
  width: 300px;
  height: 100px;
}
#edit-reporter_child   ul{
  padding:0;
}
#edit-reporter_child li.enabled{
  background: #fff;
  border: #000 1px solid;
  list-style: none;
  display: block;
  padding:2px;
  width: 300px;
  height: 100px;
}
.fnone{
  display: inline;
}
.ddlabel{
  display: inline-block;
}