{#
/**
 * @file
 * Default theme for better_messages_wrapper theme hook.
 *
 * Wrap the system messages into additional markup required for presenting the
 * messages in an overlay.
 *
 * Available variables:
 * - children: The system messages
 */
#}
<div{{ attributes.setAttribute('id', 'better-messages-default') }}>
  <div id="better-messages-inner">
    {%block children%}
      <div class="better-messages-content">
        {{ children }}
      </div>
      <div class="better-messages-footer"><span class="better-messages-timer"></span><a class="better-messages-close" href="#"></a></div>
    {%endblock%}
  </div>
</div>
